input {
  border-radius: 10px;
  border-style: hidden;
  margin-right: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(145, 79, 216, 0.367);
  
}

button {
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-color: rgba(97, 148, 230, 0.871);
  background-color: rgba(97, 148, 230, 0.871);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  margin-left: 20px;
  margin-top: 20px;
  border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16)
}

.info {
  display: flex;
  align-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.load-more {
  position: relative;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.is-hidden {
  display: none;
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}

.download {
  background-color: transparent;
  border-color: transparent;
}